<div id="<%= dom_id friend %>">
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.Email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= friend.Phone_No %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= friend.Instagram %>
  </p>

</div>
